@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);

html{
  font-size: 62.5%; /* =10px =100% */
}

body{
  font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォントの種類 */
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #4c4c4c;
}
header{
  display: block;
  width: 100%;
  height:auto;
  clear: both;
  background-color: #AF1654;
  overflow: hidden;
  position: relative;
}
header .area_area{
  width: 100%;
  border-bottom: 2px solid #fff;
  margin-bottom: 80px;
  overflow: hidden;
  clear: both;
}
header .area_area p{
  float: left;
}
header .area_name{
  width: calc(60% - 15px);
  background-color: #313131;
  color:#fff;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 15px;
}
header .area_change{
  width: 40%;
  text-align: center;
}
header .area_change a{
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #00ced1;
  line-height: 40px;
}

header .title_area{
  width:60%;
  margin:0 auto;
  margin-bottom: 20px;
}
header img{
  width: 100%;
}

header .login_and_submit{
  width: 60%;
  margin: 0 auto;

}
header .login_and_submit .login_btn{
  width: 100%;
  background-color: #fff;
  color:#AF1654;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 300%;
  margin-bottom: 10px;
}
header .login_and_submit .submit_btn{
  width: calc(100% - 4px);
  background-color: #af1654;
  color:#fff;
  border: 2px solid #fff;
  font-weight: bold;
  letter-spacing: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 300%;
  margin-bottom: 60px;
}

header i{
  position: absolute;
  top: 60px;
  right: 20px;
  size: 40px;
  color: #fff;
  padding:10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

/*******want_store_search*****************/

#want_store_search{
  width:100%;
  background-color: #313131;
  text-align: center;
  overflow: hidden;
  clear: both;
}
#want_store_search h3{
  font-size: 150%;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}
#want_store_search form{
  width: 90%;
  margin: auto;
  overflow: hidden;
}
#want_store_search input[type=text]{
  width: calc(70% - 19px);
  -webkit-appearance: none;
  padding-left: 15px;
  line-height: 40px;
  background-color: #fff;
}
#want_store_search input[type=submit]{
  width: 20%;
  background-color:#00ced1;
  color: #fff;
  line-height: 40px;
font-family: FontAwesome /*FontAwesomeをフォント指定*/;
-webkit-appearance: none;
  margin-bottom: 25px;
}


/************near_store_search********************/
#near_store_search{
  width: 100%;
  background-color: #efefef;
  overflow: hidden;
  clear: both;
}
#near_store_search .title_bar{
  width: 100%;
  text-align: center;
}
#near_store_search h3{
  font-size: 150%;
  color: #313131;
  line-height: 80px;
  letter-spacing: 5px;
  font-weight: bold;

}
#near_store_search .map_area img{
  width: 100%;
  height:200px;
}

.map_area{
  margin-bottom: 15px;
}

.store_information_box{
  width:90%;
  background-color: #fff;
  border:1px solid #bababa;
  margin: 0 auto;
  margin-bottom: 20px;
}
.store_information_box h4{
  width: 80%;
  margin-top: 25px;
  margin-left: 10%;
  margin-bottom: 15px;
  font-size: 150%;
  letter-spacing: 3px;
}
.eigyo_time_area{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}
.eigyo_time_midashi{
  background-color: #dc143c;
  color: #fff;
  font-weight: bold;
  font-size: 90%;
  padding:2px;
  padding-left:10px;
  padding-right: 10px;
  border-radius: 2px;
}
.parking_area{
  width: 80%;
  margin-left: 10%;
  padding-bottom: 20px;
  border-bottom :1px solid #bababa;
}
.parking_midashi{
  background-color: #0000cd;
  color: #fff;
  font-weight: bold;
  font-size: 90%;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}

.store_information_box h5{
  width: 80%;
  font-size: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-left: 10%;
  margin-bottom: 5px;
}
.store_kodawari_box .kodawari_images{
  width: 80%;
  margin-left: 10%;
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #bababa;
}
.kodawari_images img{
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  height: auto;
  float: left;

}
.no_other_box p{
  width: 80%;
  margin-left: 10%;
  font-size: 90%;
  letter-spacing: 3px;
  line-height: 180%;
  margin-bottom:15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bababa;
}

.shop_btn_area{
  width: 80%;
  margin-left: 10%;
  overflow: hidden;
  clear: both;
  margin-bottom: 30px;
}
.shop_btn_area li{
  width: 47.5%;
  float: left;
}
.yobi_sale{
  background-color: #9acd32;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tirashi{
  margin-left: 5%;
  background-color: #ff8c00;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
  width: 100%;
  clear: both;
  overflow: hidden;
  background-color: #313131;
  text-align: center;
}
footer img {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
